    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>I graduated from St. John's University in Minnesota in 2018 with a major in computer science and a minor in 
                    mathematics. In the fall of 2018, I began my Ph.D. in computer science at the University of Oregon, advised by <a href="https://ix.cs.uoregon.edu/~dou/" target="_blank">Dr. Dejing Dou</a>
                    and <a href="https://ix.cs.uoregon.edu/~lowd/" target="_blank">Dr. Daniel Lowd</a>. I am now in the second year of the Ph.D. program and am researching techniques to make deep neural networks more interpretable.
                    My hope is to leverage the knowledge I gain to help build provably safe and beneficial machine learning systems. </p>
                <p> In my free time I love to read and play basketball, guitar, and poker. </p>
            </div>
        </div>
    </section>
